<div *ngIf="role == 'ADMIN_ROLE'">
  <div class="row animated fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <input 
                  type="text" 
                  class="form-control" 
                  placeholder="Buscar venta ..." 
                  #txtTermino
                  (keyup)="buscar(txtTermino.value)"/>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row animated fadeIn fast"  *ngIf="cargando">
    <div class="col-12">
      <div class="alert alert-info text-center">
        <h4 class="alert-heading">Cargando</h4>
        <i class="fa fa-spin fa-refresh fa-2x"></i>
        <p class="mb-0">Por favor espere</p>
      </div>
    </div>
  </div>
  
  <div class="row" *ngIf="!cargando">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h4 class="card-title">Ventas ({{ ventas.length}})</h4>
              <h6 class="card-subtitle">Ventas registradas en la aplicación</h6>
            </div>
            <div class="col-4">
              <div class="text-right">
                <button 
                    class="btn btn-primary"
                    routerLink="/gestion/sell/nuevo">
                   <i class="fa fa-product"></i> Crear Venta
                </button>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Producto</th>
                  <th>Usuario</th>
                  <th>total</th>
                  <th class="text-nowrap">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let venta of ventas">
                  <td>{{ venta.producto.nombre ? venta.producto.nombre : '' }}</td>
                  <td>{{ venta.usuario.nombre }}</td>
                  <td>{{ venta.total }}</td>
                  <td class="text-nowrap text-center">
                    <a 
                        [routerLink]="['/gestion','sell', venta.uid]" 
                        routerLinkActive="router-link-active"  
                        data-toggle="tooltip" 
                        data-original-title="Editar"> <i
                        class="fa fa-pencil text-inverse m-r-10"></i> </a>
                    <a 
                        class="cursor"
                        data-toggle="tooltip" 
                        data-original-title="Borrar"
                        (click)="borrarVenta(venta)"> <i class="fa fa-close text-danger"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- <button class="btn btn-secondary">Anterior</button>
          <button class="btn btn-secondary">Siguiente</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="role != 'ADMIN_ROLE'">
  <div class="col-md-12">
    <div class="alert alert-danger font-weight-bold" role="alert">
      SOLO LOS ADMINISTRADORES PUEDEN ACCEDER A ESTE RECURSO.
    </div>
  </div>  
</div>


