<div *ngIf="role == 'ADMIN_ROLE'">
  <div class="row animated fadeIn fast">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <input type="text" class="form-control" placeholder="Buscar usuario ..." 
          (keyup) ="buscar( txtTermino.value )" 
          #txtTermino/>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row animated fadeIn fast"
      *ngIf="cargando">
    <div class="col-12">
      <div class="alert alert-info text-center">
        <h4 class="alert-heading">Cargando</h4>
        <i class="fa fa-spin fa-refresh fa-2x"></i>
        <p class="mb-0">Por favor espere</p>
      </div>
    </div>
  </div>
  
  <div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Total de usuarios ({{ totalUsuarios }})</h4>
          <h6 class="card-subtitle">Personas registradas en la aplicación</h6>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="w100">Imagen de perfil</th>
                  <th>Correo</th>
                  <th>Nombre</th>
                  <th>Role</th>
                  <th>Dirección</th>
                  <th>Telefono</th>
                  <th class="text-nowrap w100">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of usuarios">
                  <td class="text-center"><img class="avatar" src="https://www.uic.mx/posgrados/files/2018/05/default-user.png"></td>
                  <td>{{ usuario.email}}</td>
                  <td>{{ usuario.nombre}}</td>
                  <td>
                    <select class="form-control"
                    [(ngModel)]="usuario.role"
                    (change)="cambiarRole(usuario)">
                      <option value="ADMIN_ROLE">Admin</option>
                      <option value="CLIENT_ROLE">Client</option>
                    </select>
                  </td>
                  <td>{{ usuario.direccion}}</td>
                  <td>{{ usuario.numero_telefonico}}</td>
                  <td class="text-nowrap text-center">
                    <a href="#" data-toggle="tooltip" data-original-title="Editar"> <i
                        class="fa fa-pencil text-inverse m-r-10"></i> </a>
                    <a 
                      data-toggle="tooltip" 
                      class="cursor"
                      data-original-title="Borrar"
                      (click)= "eliminarUsuario(usuario)"> <i class="fa fa-close text-danger"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="txtTermino.value.length === 0">
            <button (click)="cambiarPagina(-5)" class="btn btn-secondary mr-2">Anteriores</button>
            <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguientes</button>
          </div>
          
        </div>
      </div>
    </div>
  </div>  
</div>
<div class="row" *ngIf="role != 'ADMIN_ROLE'">
  <div class="col-md-12">
    <div class="alert alert-danger font-weight-bold" role="alert">
      SOLO LOS ADMINISTRADORES PUEDEN ACCEDER A ESTE RECURSO.
    </div>
  </div>  
</div>

