/* You can add global styles to this file, and also import other style files */
.cursor{
  cursor: pointer;
}
.w100{
  width: 100px;
}
.avatar{
  border: 1px solid grey;
  border-radius: 100%;
  width: 25px;
}
